
<!--Page Title-->
<div id="page-title">
	<h1 class="page-header text-overflow">Dashboard</h1>
</div>
<!--End page title-->

<!--Page content-->
<div id="page-content">			
	<div class="panel">
		<div class="panel-heading">
			<h3 class="panel-title">Alerts</h3>
		</div>

		<div class="panel-body">
			<div class="pad-btm form-inline">
				<div class="row">
					<div class="col-sm-6 table-toolbar-left">
						<label class="control-label">Filter:</label>
						<div class="btn-group bootstrap-select">
							<button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="HTML" aria-expanded="false">
								<span class="filter-option pull-left">{{selectedEnvironment || 'Environment'}}</span>&nbsp;<span class="caret"></span>
							</button>
							<div class="dropdown-menu open" style="max-height: 548px; overflow: hidden; min-height: 84px;">
								<ul class="dropdown-menu inner selectpicker" role="menu" style="max-height: 546px; overflow-y: auto; min-height: 82px;">
									<li data-original-index="3" ng-repeat="environment in environments" ng-click="filterEnvironment(environment.value)"><a tabindex="0" class="" data-normalized-text="Javascript"><span class="text">{{environment.name}}</span><span class="fa fa-check check-mark"></span></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-6 table-toolbar-right">
						<div class="form-group">
							<input ng-model="searchText" id="demo-input-search2" type="text" placeholder="Search" class="form-control" autocomplete="off">
						</div>
						
					</div>
				</div>
			</div>
			<table class="table table-hover table-vcenter">
				<thead>
					<tr>
						<th ng-repeat="th in tableHeader" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
							<a href ng-click="sortAlerts(th.value)">{{ th.name }}<span ng-show="th.value != '' && (selectedSort == th.value || hover)" class="glyphicon glyphicon-chevron-{{ selectedSort == th.value && sortReverse ? 'up' : 'down' }} pull-right"></span></a>
						</th>			
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="alert in alerts | filter:searchText | filter:{environments:selectedEnvironment} | orderBy:selectedSort:sortReverse">
						<td class="text-center"><span class="icon-wrap icon-wrap-sm icon-circle {{getAlertTypeInfo(alert.type).theme.colorClass}}"><i class="glyphicon glyphicon-{{getAlertTypeInfo(alert.type).theme.iconClass}}"></i></span></td>
						<td><a ng-href="#{{getAlertTypeInfo(alert.type).href}}/{{alert.alertId}}"><span class="glyphicon glyphicon-edit"></span></a></td>
						<td ng-click="deleteAlert(alert)"><a href><span class="glyphicon glyphicon-remove"></span></a></td>
						<td ng-click="cloneAlert(alert)"><a href="#{{getAlertTypeInfo(alert.type).href}}/{{alert.alertId}}/clone"><span class="glyphicon glyphicon-share"></span></a></td>
						<td>{{alert.type}}</td>
						<td>{{alert.item.description}}</td>
						<td>{{ getDateObj(alert.startDate) | date:'MMM dd yyyy h:mm a' }}</td>
						<td>{{ getDateObj(alert.endDate) | date:'MMM dd yyyy h:mm a' }}</td>
						<td>{{ alert.environments }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/ng-template" id="confirmDelete.html">
    <div class="modal-header">
        <h3 class="modal-title">Delete alert</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" role="alert">Are you sure you want to delete alert {{deleteAlertId}}?</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">I'm Sure</button>
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</script>